<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
	<body>
		<h1>Curriculo</h1>
		<div class="secao">
			<h2>Dados Pessoais</h2>	
				 <span class="first-name">Daniel</span>
				  <span class="sec-name"> Souza</span>
				  <span class="family-name"> Scremim</span>

				 <a class="email" href="mailto:danielsouzascremim@hotmail.com">Email: danielsouzascremim@hotmail.com</a>
				 <a class="url" href="http://siteteste.com.br">Portfólio: http://siteteste.com.br</a>
         <a class="cellphone" href="tel:4199999999">Telefone: 4199999999</a>
				
				<div class="adr">
				  <span class="city">Paranaguá</span>, 
				  <span class="region">Paraná</span>

				 </div>
		</div>

		<div class="secao">
			<h2>Dados Profissionais</h2>
			
			<p><label>Empresa</label>Multitrans Transportes e Armazéns Gerais Ltda.</p>
			<p><label>Empresa</label>Mycro Media Digital</p>
			<p><label>Empresa</label>Litoral Tintas</p>
		</div>

    <div class="secao">
			<h2>Idiomas</h2>
			
			<p><label>Português</label>Fluente/Nativo</p>
			<p><label>Inglês</label>Avançado</p>
			<p><label>Espanhol</label>Básico</p>
		</div>

		<div class="secao">
			<h2>Formação</h2>
			
			<p><label>Curso</label>Análise e Desenvolvimento de Sistemas</p>
			<p><label>Curso</label>Desenvolvimento Web</p>
			<p><label>Curso</label>Informática e design web</p>
		</div>
		<br>

    <div class="forms">
		<div id="secao">
      <form>
        <div class="mb-3">
          <h3>Entre em contato por e-mail</h3>
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Texto da Mensagem</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
		</div>		
	</body>
</html>